<div class="modal fade" id="addMealTypeModal" tabindex="-1" role="dialog" aria-labelledby="MealTypeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="MealTypemyModalLabel">Add New Meal Type</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                @{
                    var m = new CateringManagement.Models.MealType();
                    <partial name="_MealTypeCreate" model="m" />
                }
            </div>
        </div>
    </div>
</div>
